#menu{
	float:left;
}

#emailInfo{
	margin-left: 150px;
}

.body{
	display: none;
	background-image: url('Background-Images4.gif');
}

.body.show{
	display: block;
}

.emailBox{
	border-style: solid;
}
